{% extends 'base.html.twig' %}

{% block title %}RAWWR! I mean, hello.{% endblock %}


{% block body %}
    <h1>About Us</h1>

    <p>
        Who are we that run this site? We are definitely real
        "humans" and not sasquatch hiding in plain site. We
        enjoy doing many human things, such as "showing under
        warm water" and "moving a brush on top of our teeth".
        We definitely do not enjoy chasing humans and hunting
        animals with our bare claws, I mean, hands.
    </p>
{% endblock %}

